.max-height {
  min-height: 100vh;
}
body {
  background-image: url(/img/14.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;

}
.quote-container {
  background: rgba(255, 255, 255, 0.5);
}
#generate-btn {
  color: white !important;
  background: #0487df !important;
  border-color: #1360c4 !important;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
#generate-btn:hover {
  background: #1becdb !important;
  border-color: #3ceff5 !important;
  color: #333333 !important;
}
.author {
  color: #ac2e08;
}
h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
  padding:10%;
}